@import "../../mixins.scss";
@import "../../variables.scss";

.select_section {
	@include flex();
	align-items: center;
	justify-content: space-between;

	margin-bottom: rem(52px);
	box-sizing: border-box;
	width: 100%;
	min-height: rem(98px);
	padding-left: 10%;
	padding-right: rem(24px);

	background-color: rgba(252, 252, 252, 0.02);
	border: 1px solid rgba(252, 252, 252, 0.1);
	@include border-radius(8px);

	@include tablets {
		padding-left: rem(10px);
		padding-right: rem(10px);
	}
}

.select_title {
	width: 67%;
	font-size: rem(32px);
	line-height: rem(60px);

	@include tablets {
		font-size: rem(24px);
		line-height: rem(40px);
	}
	@include phones {
		text-align: center;
	}
}

.select_dropdown__selected {
	position: relative;
	@include inline-block();

	width: 33%;
	height: rem(55px);
	padding-left: rem(13px);

	line-height: rem(55px);

	background-color: rgba(252, 252, 252, 0.02);
	border: 1px solid rgb(146, 232, 254);
	@include border-radius(5px);

	cursor: pointer;
	outline: none;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 13px;

		display: block;
		width: 6px;
		height: 6px;

		border-bottom: 1px solid rgb(89, 136, 151);
		border-right: 1px solid rgb(89, 136, 151);

		transform: rotate(45deg) translateY(-50%);
		@include transition(all .2s ease-in-out);
		transform-origin: 50% 0;
	}
}

.select_dropdown {
	position: absolute;
	top: calc(100% + 15px);
	left: 0;

	width: 100%;
	visibility: hidden;

	background-color: rgba(26, 38, 47, 1);
	border: 1px solid rgb(146, 232, 254);
	@include border-radius(5px);

	@include transition(all .2s ease-in-out);
	transform: translateY(-15px);

	pointer-events: none;
	opacity: 0;
	z-index: 10;
}

.select_dropdown__selected.open {
	.select_dropdown {
		visibility: visible;
		transform: translateY(0);
		pointer-events: all;
		opacity: 1;
	}

	&:after {
		transform: rotate(-135deg) translateY(-50%);
	}
}

.select_dropdown-item {
	padding-left: rem(13px);

	font-weight: lighter;
	line-height: rem(36px);

	&:first-child {
		padding-top: rem(10px);
		@include border-radius(5px 5px 0 0);
	}
	&:last-child {
		padding-bottom: rem(10px);
		@include border-radius(0 0 5px 5px);
	}
	&:hover {
		background-color: rgba(26, 49, 63, 1);
	}
}
